.main-crausal{
    background-color: rgb(242,242,242);
    width: 90%;
    margin: auto;
    
}
.crausal-img>img{
    /* border: 1px solid red; */
}
.crausal-heading{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}
.full-crausal{
    /* margin-left: 20px; */
}
