.navbar-india{
    border-radius: 60%;
    width:35px;
    height:25px;
    margin-top:10px;
    }
    .nav-sec1{
    display:flex;
    padding-left:5%;
    width:30%;
    /* border:1px solid black; */
    }
    .nav-sign-icon{
    margin-top:12px;
    font-size:24px;
    font-weight:heavy;
    }
    .nav-innersec{
        display:flex;
        margin-left: 20px;
    }
    .nav-font-size{
        font-size:13px;
        margin-top: 12px;
    }
    .nav-sec2{
        display:flex;
        padding-right:5%;
        justify-content:space-between;
        width:40%;
        margin-top:12px;
        font-size:12px;
        color:rgb(71, 70, 70);
        /* border:1px solid black; */
    }
    .navbar-top{
        display:flex;
        justify-content: space-between;
        background-color: rgb(242,242,242)
       
    }
    .nav-color{
        color:grey;
    }
    .basket{
        width:25px;
        height:25px;
        margin-bottom: 4px;
    }
    .navbar-bottom{
        display:flex;
        justify-content: space-between;
        padding-left: 12%;
        padding-right:12%;
        font-family: Segoe UI;
        /* border:1px solid black; */
    }
    .sec1{
        display:flex; 
        font-weight: 600;
        font-size: 20px;
        margin-top: 22px;
        
    
    }
    .sec2{
        display:flex;
        font-size: 20px;
        width:19%;
        justify-content: space-between;
        height:27px;
        margin-top: 20px;
        /* border:1px solid black; */
    }
    .women{
    
        border-right:1px solid rgb(174, 174, 174);
        height:27px;
        padding-right: 10px;
    }
    .men{
        padding-left: 10px;
    }
    .search{
     border-right:1px solid rgb(174, 174, 174);
     padding-right: 10px;
    }
    .title{
        font-size:35px;
        font-weight: 500;
    }
.search-icon{
    margin-bottom: 4px;
}
.second-nav{
    display:none;
}
@media screen and (max-width:1020px){
    .search{
        display: none;
    }
    .span132{
        display: none;
    }
    .navbar-bottom{
        display:flex;
        justify-content: space-between;
        /* padding-left: 12%; */
        /* padding-right:12%; */
        font-family: Segoe UI;
        /* border:1px solid black; */
    }
    .women{
    margin: auto;
        /* border-right:1px solid rgb(174, 174, 174); */
        /* height:27px; */
        /* padding-right: 10px; */
    }
    .title{
        font-size:15px;
        font-weight: 500;
    }
    .sec1{
        display:flex; 
        font-weight: 600;
        font-size: 20px;
        /* margin-top: 22px; */
        
    
    }
    /* .second-nav{
        display:inline;
        width:100%;
        
    } */
    
    /* .main-nav{
        display: none;
    } */
    .navbar-top{
        width: 100%;
        justify-content: space-between;
    }
    .nav-sec1{
        display:flex;
        /* padding-left:5%; */
        width:100%;
        justify-content: space-between;
        /* border:1px solid black; */
        }
    .nav-sec2{
        display: none;
    }
    .second-n{
        display:flex;
        justify-content: space-between;
    }
    .menu{
        font-size: 23px;
        margin: 10px;
        margin-top: 12px;
        margin-left: 20px;
    }
    .search-icon{
        /* font-size:23px; */
        display: none;
    }
    .left-n{
        margin:10px;
        margin-right: 20px;
    }
    .basket{
        /* margin-left: 20px; */
        margin: auto;
    }
    .web-head{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}